<header>
  <nav>
<ul class="top_menu clearfix">
  <li><%= link_to 'トップページ', blogs_path %></li>
  <li><a href="#">設定</a></li>
  <li><a href="#">お問い合わせ</a></li>
</ul>
</nav>
</header>
<h2>ブログを編集する</h2>

  <%= render 'form' %>

  <footer class="footer">
    <p>Copyright © 2019 YUJI SUGAYA HARINEZUMI.</p>
  </footer>
