// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
 position: relative;
}

.top_menu{
  background-color: #3399FF
}

.top_menu li {
  float: left;
  padding: 15px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}


li {

  list-style: none;
  margin-left: 200px;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
}

.image_area{
  width: 100%;
  height:600px;
}



.menu{
    padding-bottom: 100px;
}

.footer{
  background-color: #3399FF;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top:40px;

}
