// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
 position: relative;
}

.top_menu{
  background-color: #3399FF;
}

.top_menu li {
  float: left;
  padding: 15px;
  margin-left:300px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
}

.image_area{
  width: 100%;
  height:600px;
}

.menu{
    padding-bottom: 100px;
}

.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}

.side_menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}

.banner img{
  width: 100%;
}

.banner{
  margin-top: 20px;
}

.side_menu{
  width: 300px;
  float: left;
}

.content{
  float: left;
}


.wrapper{
  margin-top: 10px;
  height:700px;
}


// 新規作成ボタンのCSS
.btn-gradient-3d-simple {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  margin-left: 500px;
  margin-top:50px;
}

.btn-gradient-3d-simple:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

table{
  height:400px;
  background-color: #3399FF;
  width:1100px;
}

table td{
  padding:0
}

table, td, th {
border: 3px blue solid;
}

.footer{
  background-color: #3399FF;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  position:fixed;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top:40px;
}
